<p><%= messages %></p>
<p><%= lineuser_id %></p>
<p><%= puts "こんにちは！" %></p>
<p>ooo</p>
<% if !messages.nil? && !lineuser_id.nil? %>
  <p>aaa</p>
  <% lineuser = Lineuser.find(lineuser_id) %>
  <% day = DateTime.new(0, 1, 1, 0, 0) %>
  <%= render partial: 'message', collection: messages, as: "message", locals: { lineuser_id: lineuser_id, day: day } %>
  
<% else %>
  <p>nnn</p>
<% end %>