<h1>users#show</h1>
<%= link_to "Chat", line_users_path %>
<% if user_signed_in? %>
  <%= link_to "ログイン", line_users_path %>
  <%= link_to "新規登録", new_user_registration_path %>
<% else %>
  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% end %>